.billsandFees_header {
// margin: 0 auto;

}

.billsandFees_header img {
 margin: 0 auto;
}

.billsandFees_footer {
    display: flex;
    justify-content: space-between;
    background-color: #FBFDFE;
    padding: 10px 20px;
}