table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

thead {
  height: 50px;
  background: #fbfdfe;
  border-bottom: 1px solid rgba(1, 12, 21, 0.1);
}
thead > tr > th {
  text-align: left;
  padding-left: 24px;
  font-weight: 700;
  font-size: 12px;
  color: rgba(1, 12, 21, 0.7);
  text-transform: uppercase;
}

tbody > tr > td {
  text-align: left;
  padding-left: 24px;
  padding-top: 34px;
  padding-bottom: 34px;
  font-size: 14px;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(1, 12, 21, 0.1);

  & p {
    font-size: 14px;
  }
}

tbody > tr {
  // border-bottom: 1px solid rgba(1, 12, 21, 0.1);
  // background-color: red;
}
.generated-badge,
.fully {
  width: 80px;
  height: 26px;
  background: #c6ffab;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.low,
.not {
  width: 80px;
  height: 26px;
  background: #ffddab;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partly {
  width: 80px;
  height: 26px;
  background: #e48752;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.draft-generated-badge {
  width: 80px;
  height: 26px;
  background: #ffd6a6;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sent-generated-badge {
  width: 80px;
  height: 26px;
  background: #d4f54d;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unsent-generated-badge {
  width: 80px;
  height: 26px;
  background: #ffee55;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-generated-badge {
  width: 80px;
  height: 26px;
  background: #d7d7d7;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-wrapper {
  position: relative;
}

.action {
  position: absolute;
  right: 10%;
  width: 185px;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  z-index: 9999;
  padding: 12px 0;

  &__flex {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;

    height: 40px;

    &:hover {
      background: #e4eff9;
      border-left: 2px solid #439ade;
    }
  }
}
