.attachment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  background: #fbfdfe;
  border-radius: 4px 4px 0px 0px;
  padding: 16px;
}

.attachment-body {
  margin-top: 16px;
  padding: 16px;
  max-width: 500px;

  & img {
    width: 100%;
  }
}
